---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header>
            <a href="/">Inicio</a>
            <a href="/about/">Sobre mi</a>
            <a href="/blog/">Mi Blog</a>
        </header>


		<h1>Mi Blog</h1>
        <h2>Este es mi Blog</h2>

        <p>Este es mi blog</p>
	</body>
</html>
