---

import Social from "./social.astro";

---
<style>
    footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>

<footer>
    <p>Sigue mis redes sociales para ver más de mis proyectos</p>
    <Social platform="twitter" username="acheosspar" />
    <Social platform="github" username="acheosspar" />
    <Social platform="youtube" username="acheosspar" />
</footer>